asgiref==3.4.1
backports.entry-points-selectable==1.1.0
distlib==0.3.3
Django==3.2.8
django-cors-headers==3.10.0
django-heroku==0.3.1
django-filter==21.1
djangorestframework==3.12.4
filelock==3.3.0
gunicorn==20.1.0
importlib-metadata==4.8.1
Markdown==3.3.4
platformdirs==2.4.0
postgres==4.0
psycopg2==2.7.7
psycopg2-binary==2.9.1
psycopg2-pool==1.1
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
typing-extensions==3.10.0.2
virtualenv==20.8.1
zipp==3.6.0
