<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Font families</title>
	<style>
		h2 { color: green; }
	
		#p1 { font-family: Times, "Times New Roman", serif; }
		#p2 { font-family: Helvetica, Arial, sans-serif; }
		#p3 { font-family: serif; }
		#p4 { font-family: sans-serif; }
		#p5 { font-family: monospace; }
		#p6 { font-family: cursive; }
		#p7 { font-family: fantasy; }
	
		.s1 { font-style: italic; }
		.s2 { font-style: oblique; }
		.s3 { font-weight: bold; }
		.s4 { font-weight: 100; }
	</style>
</head>
<body>
<script>
    alert('{{ message }}');
</script>
<p>Successfully Deleted Quote</p>
<a href="/" class="w3-bar-item w3-button"><i class="fa fa-home"></i>Back to HOME</a>
</body>
</html>